@using SpotifyShuffler.Interface
@model SpotifyShuffler.Models.HomeModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card-deck">
                @foreach (SimpleSpotifyPlaylist playlist in Model.SpotifyPlaylists)
                {
                    <div class="card mx-3" style="max-width: 130px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                @playlist.Name
                            </h5>
                            <p class="card-text">
                                @playlist.Description
                            </p>
                            @Html.ActionLink("Shuffle", "BeginNewOperation", "Operation", new {playlist_id = playlist.Id}, new {@class = "btn btn-primary"})
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>
</body>
</html>