@using SpotifyShuffler.Models
@model SpotifyShuffler.Models.HomeModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        @foreach (PlaylistModel playlist in Model.Playlists)
        {
            @await Html.PartialAsync("_PlaylistItem", playlist)
        }
    </div>
</div>