@using SpotifyShuffler.Models
@model SpotifyShuffler.Models.HomeModel

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-5">
                <h1 class="h3">
                    Found @Model.TotalPlaylists playlists
                </h1>
                <p>
                    Pick that one you want to shuffle.
                </p>
            </div>
        </div>

        @foreach (PlaylistModel playlist in Model.Playlists)
        {
            @await Html.PartialAsync("_PlaylistItem", playlist)
        }
    </div>
</div>