@using SpotifyShuffler.Models
@model SpotifyShuffler.Models.HomeModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="mb-5">
                        <h1 class="h3">
                            Found @Model.TotalPlaylists playlists
                        </h1>
                        <p>
                            Part of them may be not meet in requirements.
                        </p>
                    </div>
                </div>

                @foreach (PlaylistModel playlist in Model.Playlists)
                {
                    @await Html.PartialAsync("_PlaylistItem", playlist)
                }
            </div>
        </div>
    </div>
</div>