@model SpotifyShuffler.Models.NameYourPlaylist

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@using (Html.BeginForm("ConfigureYourPlaylistPost", "Operation", FormMethod.Post))
{
    @Html.HiddenFor(x => x.OperationId)
    @Html.HiddenFor(x => x.PlaylistId)

    <div>
        <div class="form-group">
            @Html.TextBoxFor(x => x.PlaylistName, new {@class = "form-control", placeholder = "Playlist Name"})
        </div>

        <div class="form-group">
            @Html.TextAreaFor(x => x.PlaylistDescription, new {@class = "form-control", placeholder = "Playlist Description"})
        </div>

        <input type="submit" class="btn btn-primary" value="SUBMIT" style="padding: 10px;">
    </div>
}