@model SpotifyShuffler.Models.SummaryOperationModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <h1 class="h2">
                Submit Your Operation
            </h1>
            <p>
                Please confirm your new playlist data.
            </p>

            @using (Html.BeginForm("ConfirmOperationPost", "Operation", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.OperationId)
                
                <div class="form-group">
                    <label>Operation Kind</label>
                    <input type="text" placeholder="Create new playlist" readonly class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Playlist Name</label>
                    <input type="text" placeholder="@Model.Operation.PlaylistName" readonly class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Playlist Description</label>
                    <input type="text" placeholder="@Model.Operation.PlaylistDescription" readonly class="form-control"/>
                </div>

                <div class="form-group">
                    <label>Original Playlist Name</label>
                    <input type="text" placeholder="@Model.Operation.OriginalPlaylistName" readonly class="form-control"/>
                </div>

                <a href="#" class="btn btn-secondary">Cancel</a>
                <input type="submit" value="Submit" class="btn float-left btn-primary">
            }

        </div>
    </div>
</div>