@model SpotifyShuffler.Models.ExecuteSuccessfullyModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <h1 class="h3">
                Thank You!
            </h1>
            <p>
                You will be redirect in a few seconds...
            </p>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function() {
        window.location.href = '@Url.Link("home/home", new {})';
    }, 5000);
</script>