@model SpotifyShuffler.Models.DeleteEmailAddressModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-xl-8 offset-xl-2 offset-md-1">
            <h1 class="h3">
                Delete Email Address
            </h1>
            
            @using (Html.BeginForm("Delete", "DeleteEmailAddress", FormMethod.Post))
            {
                <div class="form-control">
                    <label class="form-text">Are you sure?</label>
                </div>
                
                <a href="#" class="btn btn-secondary m-1">Cancel</a>
                <input type="submit" class="btn btn-danger m-1"/>
            }
        </div>
    </div>
</div>