@model SpotifyShuffler.Models.DeleteEmailAddressModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <div class="p-5">
                <h1 class="h3">
                    Success
                </h1>
                <p>
                    Email was successfully deleted.
                    <br/>
                    You cannot to shuffle playlist now, @Html.ActionLink("Add new email", "CreateEmail", "CreateEmailAddress", new {}, new {@class = "btn-link"})
                </p>
                @await Html.PartialAsync("_HomeButton")
            </div>
            
            
        </div>
    </div>
</div>