@model SpotifyShuffler.Models.DeleteEmailAddressModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xl-8 col-md-10 offset-md-2 offset-xl-1">
            <h1 class="h3">User has no email address</h1>
            @await Html.PartialAsync("_HomeButton")
        </div>
    </div>
</div>

