@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="mx-2 p-3">
            <h1 class="h3">
                Check your inbox!
            </h1>
            <p>
                We have sent activation link to your inbox.
            </p>
        </div>
    </div>
</div>

