@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="p-3 mx-2">
            <h1 class="h3">
                Your account is activated!
            </h1>
            <p>
                We've use spotify for validate your email address, now you are activated and you can to create new awesome playlists!
            </p>
        </div>
    </div>
</div>

