@model SpotifyShuffler.Models.EnterYourEmailModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-md-3">
            <h1 class="h3">
                Enter your email address
            </h1>
            <p>
                I promiss, it is last step
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mx-md-3">
            <form>
                <div class="form-group">
                    <input class="form-control" placeholder="Email Address" type="email">
                    <small class="text-muted form-text">We'll send activation link to given email address</small>
                </div>
                
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>