@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="p-3 mx-2">
            <h1 class="h3">
                Your account is activated!
            </h1>
            <p>
                You did confirm, your email is yours. Have fun!
            </p>
        </div>
    </div>
</div>
