@model SpotifyShuffler.Models.ConfirmationBadDataModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xl-8 col-md-10 offset-xl-2 offset-md-1">
            <h1 class="h3">Bad data.</h1>
            <p>
                Could not recognize this data. Please check confirmation email.
                @Html.ActionLink("Send Confirmation Link Again","SendConfirmationLink", "ConfirmEmailAddress", new {}, new {@class = "btn-link"});
            </p>
            
            @await Html.PartialAsync("_HomeButton")
        </div>
    </div>
</div>

