@model SpotifyShuffler.Models.PlaylistModel

<style>
    .playlist-item 
    {
        height: 300px;
    }
</style>

<div class="playlist-item col-xs-10 col-md-8 col-xl-4 my-2">
    <div class="card bg-light w-100 h-100">
        <span class="card-header font-weight-bold text-left">
            @Model.SpotifyPlaylist.Name
        </span>

        <div class="card-body mx-0">
            <div class="font-weight-bold">
                @@@Model.SpotifyPlaylist.Owner.Name
            </div>

            <div>
                @Model.SpotifyPlaylist.Description
            </div>
        </div>

        <div class="buttons d-inline-block m-2 mx-auto">
            @Html.ActionLink("Shuffle", "BeginNewOperation", "Operation", new {PlaylistId = Model.SpotifyPlaylist.Id}, new {@class = "btn btn-primary"})
        </div>
    </div>
</div>