@model SpotifyShuffler.Interface.SpotifyPlaylist

<div class="form-group">
    <label class="form-text">Playlist Name</label>
    <input type="text" class="form-control" placeholder="@Model.Name" readonly>
</div>

<div class="form-group">
    <label class="form-text">Playlist Description</label>
    <label class="form-text text-muted">@Model.Description</label>
</div>