@model SpotifyShuffler.Models.PlaylistModel

<style>
    .playlist-item 
    {
        height: 200px;
    }
</style>

<div class="playlist-item col-xs-4 col-md-3 col-xl-2 my-2">
    <div class="card bg-light w-100 h-100">
        <div class="card-body mx-0 w-100">
            <div class="text-left font-weight-bold">
                @Model.SpotifyPlaylist.Name
            </div>
            
            <div class="text-muted text-left w-100">
                @Model.SpotifyPlaylist.Owner.Name
            </div>
        </div>

        <div class="buttons d-inline-block m-2 mx-auto">
            @Html.ActionLink("Shuffle", "BeginNewOperation", "Operation", new {PlaylistId = Model.SpotifyPlaylist.Id}, new {@class = "btn btn-primary"})
        </div>
    </div>
</div>