@model SpotifyShuffler.Models.TrackModel

<div class="w-100 p-2">
    <span class="form-text">
        "@Model.SpotifyTrack.Name"
    </span>
    <span class="form-text text-muted">
        @Model.ArtistLabel
    </span>
</div>