@model SpotifyShuffler.Models.DeleteAccountModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-xl-8 offset-md-1 offset-xl-2">
            <h1 class="h3">Success</h1>
            <p>
                Account with email address @(Model.CurrentEmailAddress) was deleted. Remember, you can always come back to us!
            </p>
        </div>
    </div>
</div>