@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>/callback</title>
</head>
<body>
<div>
    <h3>
        You was redirected
    </h3>
    <p>
        Spotify authorized you.
    </p>
</div>
</body>
</html>