@model SpotifyShuffler.Models.SuccessfullyLoggedInModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="/libs/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <div class="m-2 p2">
        <h1 class="h3">
            You have successfully logged with Spotify Account!
        </h1>
        <p>
            Now finish registrating your account...
        </p>
    </div>
</div>
</body>
</html>